/******************/


/* NAVIGATION BAR */


/******************/

.navbar-custom {
    background-color: #ececec;
}

/*********************/


/* /student/old_home.php */


/*********************/

.formDropdown {
    width: 350px;
}

/*******************/


/* create_plan.php */


/*******************/

body {
    margin-top: 100px;
}

.plan-header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

#plan-name {
    display: inline;
}

#toggle-config-button {
    float: right;
    /* position: absoluteF-primary;
    right: 25px; */
}
#toggle-create-plan-button {
    /* float: right; */
    /* position: absoluteF-primary;*/
    margin-right: 80px; 
}
.course-status {
    height: 25px;
}


/* https://www.w3schools.com/howto/howto_css_circles.asp */

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    background-color: green;
}

.dot-red {
    background-color: red;
}

.semester-whole {
    padding: 0px;
    margin: 0px;
}

.semester {
    margin: 12px;
}

.semester-title {
    font-size: 25px;
    background-color: #E8E8E8;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    margin: 6px;
}

.semester-course {
    /* position: relative; */
    padding: 10px;
    /* margin-top: 6px;
    margin-bottom: 6px; */
    margin: 6px;
    background-color: #CEF0F1;
    /* width: 400px; */
    /* z-index: 10000; */
}

.semester-course>* {
    align-self: center;
}

.course-title {
    word-break: break-word;
}

#schedule-config {
    display: none;
}

#schedule-config>div {
    margin-top: 25px;
    position: fixed;
    /* overflow: scroll; */
    overflow-x: hidden;
    overflow-y: scroll;
    /* width: 50%; */
    max-height: 70%;
}
#plan-config-courses {
    display: block;
}

#plan-config-validation {
    display: none;
}

.validation-message {
    margin-top: 20px;
}

.plan-name-editable{
    height:70px;
    width:600px;
    padding:10px;
    margin:auto
}
#plan-config-groups {
    display: none;
}

#plan-config-notes {
    display: none;
    width: 500px;
}

#text-area-notes {
    margin-top: 20px;
}

#plan-config-settings {
    display: none;
}

.course-add {
    justify-content: center;
    background-color: #CEF0F1;
    padding: 8px;
    margin-bottom: 24px;
    margin: 6px;
}

.add-course,
.add-course-group {
    margin: 10px;
}

.course-trash,
.course-config {
    text-align: center;
}

/* .course-trash-button,
.course-config-button {
    padding: 0px !important;
    margin: 0px !important;
    text-decoration: none !important;
} */

.course-trash-button {
    color: #292b2c;
    font-size: 20px;
}

.course-trash-button:hover {
    color: blue;
    text-decoration: none;
}

#accordion {
    width: 600px;
    margin-top: 20px;
}


/*************/


/* MAIN PLAN */


/*************/

.content .container .col-sm {
    margin-right: 5px;
    margin-left: 5px;
    /* margin-bottom: 5px; */
    padding: 0px;
    height: 100%;
}

.content .container .col-semester {
    background-color: #E8E8E8;
    text-align: center;
    font-weight: bold;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
}

.main-plan p {
    background-color: #CEF0F1;
    padding: 10px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    border-radius: 4px;
}

h1 {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 1em 3em;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 2em;
    border-color: black;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    color: black;
    background-color: #CEF0F1;
    text-align: center;
    transition: all 0.2s;
    display: center;
}

.button-center {
    display: inline-block;
    padding: 1em 3em;
    margin: 0 0.3em 0.3em 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    display: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #E8E8E8;
    border-color: #E8E8E8;
}

.img {
    max-width: 100%;
    height: auto;
    margin-top: 75px;
    display: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img2 {
    max-width: 100%;
    height: 20%;
    margin-top: 25px;
    display: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


/***************/


/* CREATE PLAN */


/***************/

.submit-button {
    float: right;
    border: 2px solid;
    border-radius: 2em;
    border-color: #CEF0F1;
    background-color: #CEF0F1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}


/*****************/


/**** home.php ***/


/*****************/

.all-plans-title {
    margin-bottom: 20px;
}

.content .plan-name-container {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    margin: auto;
}

.all-plans-header {
    color: rgb(49, 45, 45);
    background-color: #CEF0F1;
    margin: 6px;
    width: 60%;
}


/**********************/


/* .../admin/home.php */


/**********************/

.student-column {
    width: 30%;
    border: solid;
    border-color: white;
    text-align: center;
}

.year-column {
    width: 20%;
    border: solid;
    border-color: white;
    text-align: center;
}

.status-column {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.date-column {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

th {
    background-color: #CEF0F1;
    margin: 6px;
    padding: 12px;
    height: 50px;
    background-color: #E8E8E8;
    color: black;
}

td {
    background-color: #CEF0F1;
    margin: 6px;
    padding: 12px;
    height: 50px;
    background-color: #CEF0F1;
    color: black;
}

.name {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.year {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.status {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.date {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* BEGIN ADMIN NAVIGATION BAR */
.student-search {
    border: solid #212529 2px;
    padding: 0px;
    width: 600px; /* 757px if we want the full length of table*/
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-partition {
    float: left;
    width: 25%;
}

.search-dropdown {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 28px;

    background-color: lightgrey;
    border: none;
    color: #212529;
}

.right-partition {
    float: left;
    width: 75%;
}

.student-searchbar {
    float: left;
    margin-left: 4px;
    width: calc(100% - 36px);

    border: none;
}

.student-submit {
    float: left;
    padding: 0px;
    height: 28px;
    width: 32px;

    background-color: lightgrey;
    border: none;
    color: #212529;
    text-align: center;
}
/* ================= */




/*******************/


/* create_plan.php */


/*******************/

.connectedSortable {
    min-height: 30px;
}
/* #sortable1 {
    min-height: 30px;
}

#sortable2 {
    min-height: 30px;
    margin-bottom: 15px;
    margin: 10px;
}

#sortable2 div {
    padding: 12px;
} */

.card {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
