/******************/
/* NAVIGATION BAR */
/******************/

.navbar-custom {
    background-color: #ececec;
}


/************************/
/*** /student/home.php **/
/************************/

body {
    margin-top: 100px;
}

.plan-header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

#plan-name {
    display: inline;
}

#toggle-config-button {
    float: right;
}

.course-status {
    height: 25px;
}

/* https://www.w3schools.com/howto/howto_css_circles.asp */
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
}

.semester {
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.semester-title {
    background-color: #E8E8E8;
    justify-content: center;
    margin-bottom: 12px;
}

.semester-course {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #CEF0F1;
    margin-bottom: 6px;
}

.semester-course > * {
    align-self: center;
}

.course-title {
    word-break: break-word;
}

#schedule-config {
    display: none;
}

#schedule-config > div {
    position: fixed;
}

.course-add {
    justify-content: center;
    background-color: #CEF0F1;
    padding: 8px;
    margin-bottom: 24px;
}

.add-course, .add-course-group {
    margin: 10px;
}

.course-trash, .course-config {
    text-align: center;
}

.course-trash-button, .course-config-button {
    padding: 0px !important;
    margin: 0px !important;
    text-decoration: none !important;
}

/* MAIN PLAN */
.content .container .col-sm {
    background-color: #CEF0F1;
    margin: 6px;
    padding: 12px;
    height: 50px;
}

.content .container .col-semester {
    background-color: #E8E8E8;
    text-align: center;
    font-weight: bold;
}

h1 {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 1em 3em;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 2em;
    border-color: black;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    color: black;
    background-color: #CEF0F1;
    text-align: center;
    transition: all 0.2s;
    display: center;
}

.button-center {
    display: inline-block;
    padding: 1em 3em;
    margin: 0 0.3em 0.3em 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    display: center;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

button:hover {
    background-color: #E8E8E8;
    border-color: #E8E8E8;
}

.img {
    max-width: 100%;
    height: auto;
    margin-top: 75px;
    display: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.img2 {
    max-width: 100%;
    height: 20%;
    margin-top: 25px;
    display: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
}

/* CREATE PLAN */
.submit-button {
    float: right;
    border: 2px solid;
    border-radius: 2em;
    border-color: #CEF0F1;
    background-color: #CEF0F1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/* CATALOG */
.content .container .col-conc {
    text-align: center;
    font-weight: 500px;
    text-decoration: none;
}

.concentration {
    color:rgb(49, 45, 45);

}

/**********************/
/* .../admin/home.php */
/**********************/
.student-column {
    width: 30%;
    border: solid;
    border-color: white;
    text-align: center;
}

.year-column {
    width: 20%;
    border: solid;
    border-color: white;
    text-align: center;
}

.status-column {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.date-column {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

th {
    background-color: #CEF0F1;
    margin: 6px;
    padding: 12px;
    height: 50px;
    background-color:#E8E8E8;
    color: black;
  }

td {
    background-color: #CEF0F1;
    margin: 6px;
    padding: 12px;
    height: 50px;
    background-color:#CEF0F1;
    color: black;
}

.name {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.year {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.status {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.date {
    width: 25%;
    border: solid;
    border-color: white;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;  
}

.search-bar input[type=text] {
    margin: 0 auto;
    display: block;
    border-radius: 25px;
}